@page "/attackdex"
@inherits BasePage
<DexSelect Label="Attackdex Type" DexTypes="attackdexTypes"
           @bind-SelectedDexType="SelectedAttackdexType" @bind-DexSource="AttackdexSource" />
@if (IsDebug())
{
    <p>Path to data: </p>
    <p>Dex src: </p>
    <p>Iframe src: </p>
}