@*// Copyright (c) 2022 iyarashii @ https://github.com/iyarashii
// Licensed under the GNU General Public License v3.0.*@
@page "/pokedex"
<h3>Pokedex</h3>
<MudPaper>
    <embed src="https://www.serebii.net/pokedex-sv/" width="1624" height="1080"/>
</MudPaper>
@code {

}
